[Unit]
Description=Postgres Service for Skella
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill pg
ExecStartPre=-/usr/bin/docker rm pg
ExecStartPre=/usr/bin/docker pull postgres
ExecStart=/usr/bin/docker run -p 5432:5432 -e POSTGRES_USER=skella -e POSTGRES_PASSWORD=seekret -e POSTGRES_DB_NAME=skella --name pg postgres
ExecStop=/usr/bin/docker stop pg
